<p id="notice"><%= notice %></p>

<h1>スレッド一覧</h1>

<table>
  <thead>
    <tr>
      <th>スレッド名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |title| %>
      <tr>
        <td><%= link_to title.name, title %></td>
        <td><%= link_to '編集', edit_title_path(title) %></td>
        <td><%= link_to '消去', title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しくスレッドを作成する', new_title_path %>
